<div class="sidebar">
    <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
          Select members <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem" *ngFor="let user of users"><a class="dropdown-item" href="#">{{user.knownAs}}</a></li>


        </ul>
      </div>
</div>


  <div class="content">
    Content
  </div>
