<div class="sidebar">
  <div class="text-left ml-2 mt-2">
    <h5>{{likesParam === 'Likers' ? 'Members who like me' : 'Members who I\'ve Liked'}} : {{pagination.totalItems}}</h5>
  </div>
  <div class="flex-container mt3">
    <div>
      <div class="btn-group row ml-2">
        <button class="btn btn-primary col-md-4" [(ngModel)]="likesParam" btnRadio="Likers" (click)="loadUsers()">Members who
          like me</button>
        <button class="btn btn-primary col-md-4" [(ngModel)]="likesParam" btnRadio="Likees" (click)="loadUsers()">Members who I
          like</button>
      </div>
    </div>
    <br>
    <div>
      <div *ngFor="let user of users" class="col-sm-6 col-md-4 col-lg-4 col-xl-2">
        <app-group-member-card [user]="user" (selectedUser)="addSelectedUser($event)"></app-group-member-card>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-left">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
      nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

    </pagination>
  </div>
</div>

<!-- Page content -->
<!-- <div class="content">
  <form #form="ngForm" (ngSubmit)="createGroupWithSelectedUsers()">
      <img src="{{user.photoUrl || '../../../assets/user.png'}}" alt="{{user.knownAs}}">
      <button type="submit" class="btn btn-primary" style="margin-left:10px">Create Group</button>
  </form>
</div> -->
<div class="content">
  <form #form="ngForm" (ngSubmit)="createGroupWithSelectedUsers()">
      <div class="form-inline">
          <label for="GroupName">Group Name</label>
          <input class="form-control" name="groupName" type="text" [(ngModel)]="createGroup.groupName">
        </div>
    <div *ngFor="let user of selectedUsers" class="col-sm-6 col-md-4 col-lg-4 col-xl-2">
        <app-group-member-card [user]="user"></app-group-member-card>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-top:100px;">Create Group</button>
    </form>
    <div class="row mt-3">

      <div class="col-md-3">

          <h3>Add photos</h3>

          <div ng2FileDrop
               [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)"
               [uploader]="uploader"
               class="card bg-faded p-3 text-center mb-3 my-drop-zone">
               <i class="fa fa-upload fa-3x"></i>
              Drop photos here
          </div>

          Single
          <input type="file" ng2FileSelect [uploader]="uploader" />
      </div>

      <div class="col-md-9" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">

          <h3>Upload queue</h3>
          <p>Queue length: {{ uploader?.queue?.length }}</p>

          <table class="table">
              <thead>
              <tr>
                  <th width="50%">Name</th>
                  <th>Size</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td>
                  <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>

              </tr>
              </tbody>
          </table>

          <div>
              <div>
                  Queue progress:
                  <div class="progress" mb-4>
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                  </div>
              </div>
              <button type="button" class="btn btn-success btn-s"
                      (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                  <span class="fa fa-upload"></span>Upload
              </button>
              <button type="button" class="btn btn-warning btn-s"
                      (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                  <span class="fa fa-ban"></span>Cancel
              </button>
              <button type="button" class="btn btn-danger btn-s"
                      (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                  <span class="fa fa-trash"></span>Remove
              </button>
          </div>

      </div>

</div>
